<div class="navbar navbar-default navbar-static-top" style='margin-bottom:0px'>
   <div class="container">
     <a href="/" class="navbar-brand">Mini-Bi</a>
     <div class="navbar-collapse collapse navbar-responsive-collapse">
       <ul class="nav navbar-nav">
         <li><a href="/universes">Universe</a></li>
         <li><a href="/panels">Panels</a></li>
         <li><a href="/reports">Reports</a></li>
       </ul>
     </div>
   </div>
</div>
