<!DOCTYPE html>
<html>
<head>
  <title>Multiverse</title>
  <%= stylesheet_link_tag "mini-bi/application", :media => "all", debug: true %>
  <%= javascript_include_tag "mini-bi/application", debug: true %>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style='width: 7in;'>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
